xmpp: fix resource binding and allow IQs during stream negotiation

Resource binding (see [RFC 6120 § 7]) is currently broken on the server side and it is impossible to implement [XEP-0077: In-Band Registration] because they both use IQs prior to the stream being ready. Right now our feature negotiation code assumes that the feature being advertised has the same namespace as the element that will be sent to select that feature, but it turns out this may or may not be true and is definitely not true if IQs are used.

Come up with a new way to either register and handle IQs prior to the session being ready, or a special case for the handful (possibly just these two?) legacy stream features that use stanzas prior to the stream being fully negotiated.

[RFC 6120 § 7]: https://tools.ietf.org/html/rfc6120#section-7
[XEP-0077: In-Band Registration]: https://xmpp.org/extensions/xep-0077.html

I had a couple of initial thoughts on how this could be done. My initial thought was that for simple features like bind we could add an "IQ" field to the stream features struct:

```
type StreamFeature struct {                                                      
  // …        
  Name xml.Name                                                                  
                                                                                 
  // IQ is true if this is a legacy stream feature that will be
  // selected by sending an IQ with an element matching
  // Name as the payload (eg. resource binding or in-band
  // registration). If set the stream feature will be wrapped in
  // an IQ before being sent (if we are a client) and it will be
  // unwrapped before being received (if we are a server).
  // Thus the Negotiate function does not need to concern
  // itself with writing the IQ element or ensuring that the ID
  // matches.
  IQ bool
```

If the `Negotiator` encounters an IQ it would be modified to check the payload instead of the IQ start token and match only on stream features that match the payload's namespace and have the `IQ` field set. The stream feature could then just write the payload it wants to respond with back to the session and the `Negotiator` would intercept that and wrap it in the appropriate IQ response. Similarly if an error was returned it could wrap it in an appropriate IQ error response.

However, this would not work for In-Band Registration where the IQ payload has a different namespace from the stream feature and where there may be multiple round trips with different IQs, so it may be better to provide a way to handle IQs like normal but use a different handler before stream negotiation finishes vs. after (or use the same handler, but let the handlers explicitly specify that they are allowed before the `Ready` bit is set.

The other thing we'd need to think about is whether to handle IQs completely independently of feature negotiation (which RFC 6120 seems to imply is okay) or whether we should put some restrictions on when they can be sent/received.
They definitely should be restricted to a single stream (eg. after a stream restart you can't get a reply to an IQ you sent in the old stream) for security purposes, but it still seems bad that you could potentially send an IQ in the middle of negotiating authentication or TLS, for example. The RFC provides no guidelines on this as far as I can see.