xmpp: make SASL feature accept auth restarts

[RFC 6120 §6.4.2](https://tools.ietf.org/html/rfc6120#section-6.4.2) says:

> If the initiating entity subsequently sends another &lt;auth/&gt; element
> and the ongoing authentication handshake has not yet completed, the
> receiving entity MUST discard the ongoing handshake and MUST process
> a new handshake for the subsequently requested SASL mechanism.

However we don't appear to be doing this. I am not aware of anywhere this is used, and I doubt most implementations support this, but it's worth being compliant just in case.

Closing in favour of #60, we need to actually implement the server side of SASL before this issue makes sense so just do it as part of that.