mux: messages with no type and normal type messages are treated differently

According to [RFC 6121 § 5.2.2](https://datatracker.ietf.org/doc/html/rfc6121#section-5.2.2) the default type of messages with an unrecognized type is "normal":

>    An IM application SHOULD support all of the foregoing message types.
>    If an application receives a message with no 'type' attribute or the
>    application does not understand the value of the 'type' attribute
>    provided, it MUST consider the message to be of type "normal" (i.e.,
>    "normal" is the default).

However, we do not enforce this anywhere in the module. For example, if we're using the [`mux`](https://pkg.go.dev/mellium.im/xmpp/mux) package to match stanzas:

    mux.Message(stanza.NormalMessage, …)

This will not match messages with no type attribute, which is a perfectly valid way to send a normal type message.
There are a few possible ways we can solve this:

## Wire Boundary

The problem could be solved at the boundary between the wire and our code by implementing the various XML marshaling and unmarshaling functions for `MessageType`. The downside to this is that it is lossy; we no longer know what the original XML value was. It's not likely that this would ever be an issue, but if someone is doing something non-standard it's possible that we'd still want to be able to interoperate with them, or want to still have enough information to create a bug report for them. This is the approach that I originally suggested and that @wahjava is taking with #271.

## Pattern Matcher

This could also be solved higher up the stack in the `mux` package by tweaking the pattern matcher code to treat unrecognized message types as `NormalMessage`. The downside to this is that users cannot do a naive comparison against a messages `Type` field, ie. `msg.Type == "normal"` won't work. It also means that users implementing their own multiplexers, or anything else that needs to know the message type, have to re-implement the logic for doing type comparisons. This is not ideal.

## Optional Normalization

Finally, we could add a method on `stanza.Message` that gives us the message type. This way the original value would still be preserved as `msg.Type`, but the function would return the normalized value for easy comparisons. Something like this:

```go
// TypeAttr returns the normalized message type for the message stanza.
// It will always return one of the constants defined in this package, even if
// the unmarshaled wire value was an undefined value.
// When checking the message type, this should normally be used over the struct
// field.
func (m Message) TypeAttr() MessageType {
	switch m.Type {
	case ChatMessage, ErrorMessage, GroupChatMessage, HeadlineMessage:
		return m.Type
	}
	return NormalMessage
}
```

The downside to this is that the user has to remember to use the `TypeAttr()` function and it creates a possible side channel where a malicious information includes `type="some data"` and we'll happily pass that through and re-marshal it on the other side, all while things appear to be "normal" in our code. This is probably not actually that bad, but it still feels weird. This also has the odd side effect of making all types that currently embed `Message` (which is a common pattern) have another method. Again, likely not an issue, but it definitely feels like a bigger, more subtle, change than it seems on the surface.

## Others?

Maybe there are other solutions that I haven't thought about? I'd love to get others opinions on what the best way to do this is.
This issue probably also exists for IQs and Presence, but we can handle those later after we've flushed out what to do about it with messages.

Thanks to @wahjava for reporting this issue.