xmpp: fix stream features that use IQs

Resource binding (see [RFC 6120 § 7]) is currently broken on the server side and it is impossible to implement [XEP-0077: In-Band Registration] because they both use IQs prior to the stream being ready.

Come up with a new way to either register and handle IQs prior to the session being ready, or a special case for the handful (possibly just these two?) legacy stream features that use stanzas prior to the stream being fully negotiated.

[RFC 6120 § 7]: https://tools.ietf.org/html/rfc6120#section-7
[XEP-0077: In-Band Registration]: https://xmpp.org/extensions/xep-0077.html

Oops, GitHub gave me an error and I thought this didn't submit. Superseded by #97 which I'll look at after work.