Attach IDs for all wrapped stanza creation methods

In building a small chat-bot, I discovered that clients such as Conversations or Dino would silently drop messages that carried the same message bodies to messages previously sent (and displayed). This, it turns out, is because messages created via `stanza.WrapMessage`, as well as other "wrap" methods (`stanza.WrapPresence`, etc.) do not, by default, carry an `id` attribute and as such are delivered by the server unadorned, and are presumably dropped as "duplicates".

I'm unsure if this is a bug or a genuine design consideration, as generating cryptographically secure IDs can be both resource-intensive and, in rare cases, error-prone. However, the change itself is small, to the tune of two lines per stanza type, e.g.:

```diff
modified   vendor/mellium.im/xmpp/stanza/message.go
@@ -8,6 +8,7 @@ import (
 	"encoding/xml"
 
 	"mellium.im/xmlstream"
+	"mellium.im/xmpp/internal/attr"
 	"mellium.im/xmpp/jid"
 )
 
@@ -16,6 +17,7 @@ func WrapMessage(to jid.JID, typ MessageType, payload xml.TokenReader) xml.Token
 	return xmlstream.Wrap(payload, xml.StartElement{
 		Name: xml.Name{Local: "message"},
 		Attr: []xml.Attr{
+			{Name: xml.Name{Local: "id"}, Value: attr.RandomID()},
 			{Name: xml.Name{Local: "to"}, Value: to.String()},
 			{Name: xml.Name{Local: "type"}, Value: string(typ)},
 		},
```

If it's not possible to fix this, it should at least be documented as such (or if the behaviour of Conversations and Dino is unique and not compliant to standards, perhaps it should be fixed there).

I'm still torn on this, there are two arguments that are appealing to me right now:

- The token stream API is a low-level API and is for building your own systems, maintaining compatibility with older systems, etc. so we shouldn't do anything outside of users expectations and they should set their own IDs if they want them
- Both APIs should be as easy to use as possible, and an ID should always be required for all stanzas so checking if it doesn't exist and setting it meets user expectations and will prevent confusion and user frustration.

If we decide to always set an ID there are a few places this could be done:

- When we call `stanza.WrapMessage`: this makes it easy for the user to get a copy of the ID if they need it for their own local archive or other tracking.
- When the message token is actually sent on the encoder: I thought it was already doing this, but apparently not. This would make it harder for the user to get a copy of the ID, but means that even messages or IQs constructed manually and sent over the stream (eg. by creating an `xml.StartElement` by hand) would have IDs on them.

In the next version, the stanza creation functions will be turned into methods on the stanza types, eg. [`IQ.Wrap`](https://godoc.org/mellium.im/xmpp/stanza#IQ.Wrap). We definitely don't want to change the output now because it should represent the IQ struct exactly. However, this could still be done when writing tokens to the session.

Sorry it's taken me so long to get back to this. I've been trying to cleanup the issue tracker a bit every day before or after work to stay on top of things lately and I'm going to try and make a decision on this before `v0.18.0` is released.

I double checked and we are currently doing this for IQ stanzas (where ID is required), so it is rather easy to expand it to message or presence stanzas, but I'm still going back and forth on whether we should. The behavior of Conversations doesn't seem unreasonable to me (you got two stanzas with the same body and the same ID, even if it was an empty ID, so it's a duplicate and don't display it), and I can imagine that most of the time in the current system there's no point in setting an ID so it seems pointless to make expensive syscalls to generate one.

However, I also think that XMPP should have just required IDs for all stanzas so that we wouldn't be in the weird situation where we have separate specs to let different entities add different IDs to stanzas and it may still be valuable to do so.

Since I don't seem to be able to make up my mind or come up with an overwhelming argument either way, maybe it's worth looking at what other XMPP libraries do and just imitating that. I'll try to do that this weekend.

If it helps, the way I'd lean is just documenting the requirement, if indeed the specifications don't require IDs for non-IQ stanzas. Though XMPP is typically used for chat applications, and Conversations (at the very least) comprises a large part of that ecosystem, you shouldn't be forced to build a presumably non-opinionated library against such externalities.

@deuill thanks, I'll take that into consideration!

I'm having trouble with this one I think because I'm not even sure how to frame the issue. I think the question is "Is there some benefit to always setting IDs? Is there some cost to not always setting them? Which is greater and affects the most people?".
This leads me to ask what the purpose of this library is. Is it to be an absolutely general purpose XMPP library that you might equally use for instant messaging or sending realtime stock trading announcements, or is it more IM specific? Do we need a security level where bytes over the wire can be absolutely deterministic, or is it not meant for that kind of an environment? etc. I really don't have a good answer to this. My general design principle is "keep it with sane defaults for as many users as possible and don't provide switches for everything under the sun that we might want to change", but I'm not entirely sure how this fits into that.

FWIW:

* Smack: configurable (defaults to no IDs)
* aioxmpp: always sets an ID

Someone just pointed out to me that in (RFC 6120 §8.1.3](https://tools.ietf.org/html/rfc6120#section-8.1.3) the language around this is stronger than I thought:

>    For <message/> and <presence/> stanzas, it is RECOMMENDED for the
>    originating entity to include an 'id' attribute; for <iq/> stanzas,
>    it is REQUIRED.

Since "RECOMMENDED" is a synonym for "SHOULD" in BCP14 language, I need to just do this and stop thinking about it. Proposal accepted!